.display-header{
background-image: url(../../img/DJI0139.png);
background-size: cover;

  /*Nuevo Branch desktop*/
@include desktop{
  width: 100%;
  padding-left: 0%;
    
}

/*Nuevo Branch Tablet*/
@include tablet{
  width: 118%;
  padding-left: 0%;

}

@include mobile{
  width: 218%;
  padding-left: 0%;
}

}



.header__imgTamarindo {
  background-image: url(../../img/TamarindoHB.png);


}

.header__imgGuanacaste {
  background-image: url(../../img/GuanacasteHB.png);
}

.header__imgPuntarenas {
  background-image: url(../../img/PuntarenasHB.png);
}

a{
  text-decoration: none;
  color: white;
}

.color-black{
  color: black;
}

h1{
  font-size: 60px;
  color: white;
  margin-top: 8%;
  position: relative;
  /* left: 529px; */
  bottom: 320px;
  padding-top: 337px;
  font-family: "Inter", sans-serif;
  text-align: center;

  /*Nuevo Branch desktop*/
  @include desktop{
    font-size: 372px;
    color: rgba(255, 255, 255, 0.575);
      
  }

    /*Nuevo Branch Tablet*/
  @include tablet{
    font-size: 144px;
    display: contents;
    color: rgba(255, 255, 255, 0.623);
  }

  @include mobile{
    font-size: 118px;
    display: contents;
    color: rgba(255, 255, 255, 0.623);
  }
}

.nav-flex{
  display: flex;
  gap: 68px;
  padding-left: 300px;
  color: white;
  background-color: rgba(0, 0, 0, 0.349);
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;

    /*Nuevo Branch Tablet*/
    @include desktop{
    font-size: 71px;
    gap: 130px;
    padding-left: 37px;
    } 
  

  /*Nuevo Branch Tablet*/
  @include tablet{
    gap: 7%;
    align-items: center;
    color: white;
    padding-left: 28px;
    font-size: 14px;
  } 

  @include mobile{
    gap: 3.5%;
    align-items: center;
    color: white;
    padding-left: 28px;
    font-size: 19px;
  }
}
