@include mobile{
    body{
        
    background-size: 722px 1438px;
    }
    .center {
        position: absolute;
        top: 12%;
        left: 27%;
        width: 422px;
        height: 598px;
        background-color: rgba(0, 0, 0, 0.47);
        /* padding: 0%; */
        left: 23px;
    }
    .center h1{
            top: 42px;
            font-size: 37px;
            border: none;
            left: 13px;
    }
    .txt_field label{
        color: #efeff0;
    }
    txt_field label {
        position: absolute;
        top: 39%;
        left: 5%;
        color: #adadad;
        transform: translateY(50%);
        font-size: 20px;
        pointer-events: none;
        transition: 0.5s;
    }
    form{
        box-sizing: border-box;
        left: 72px;
        position: absolute;
        bottom: 62px;
        padding: 0px;
    }
    form .txt_field {
        padding: 0 0px;
        box-sizing: border-box;
        left: 65px;
        position: absolute;
        bottom: 101px;
    }
        .boton {
            width: 115px;
            height: 28px;
            border: 1px solid;
            background-color: black;
            border-radius: 25px;
            font-size: 15px;
            color: #e9f4fb;
            font-weight: 700;
            cursor: pointer;
            outline: none;
            position: relative;
            left: 112px;
            bottom: 73px;
    }
    a {
        text-decoration: none;
        color: white;
        position: absolute;
        right: 74px;
    }
    .travel img {
        position: relative;
        width: 115px;
        left: 189px;
        bottom: 11px;
    }
    /*log in*/
    .box {
        page-break-after: left;
        text-align: center;
        padding: 0 0px;
        border-bottom: 0px solid silver;
        position: absolute;
        left: 79px;
        top: 104px;
        font-size: 27px;
    }
.log{
    
        padding: 0 0px;
        box-sizing: border-box;
        left: 35px;
        position: absolute;
        bottom: 128px;
}
.box h1{
    box h1 {
        page-break-after: left;
        text-align: center;
        padding: 0 0 20px;
        border-bottom: 1px solid silver;
        position: absolute;
        left: 67px;
        top: 58px;
    }
}




@include labtop{
    body{
        background-size: 1032px 895px;
    }
    form {
        bottom: 56px;
        padding: 0 40px;
        box-sizing: border-box;
        position: relative;
    }
.center{
    position: absolute;
    top: 7%;
    left: 13%;
    transform: translate(-50% -50%);
    width: 761px;
    height: 602px;
    background-color: rgba(0, 0, 0, 0.47);
    padding: 9%;
    }
.center h1 {
    page-break-after: left;
    text-align: center;
    padding: none;
    position: absolute;
    left: 213px;
    top: 52px;
    font-size: 41px;
}
.boton {
    width: 118px;
    height: 32px;
    border: 1px solid;
    background-color: black;
    border-radius: 25px;
    font-size: 14px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    position: relative;
    left: 180px;
  }
  form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 21px 0;
}
.pass {
    color: #a6a6a6;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 158px;
    text-decoration: none;
}
/*log in*/
.box h1 {
    page-break-after: left;
    text-align: center;
    padding: 0 0 20px;
    border-bottom: 1px solid silver;
    position: absolute;
    left: 184px;
    top: 58px;
}

.box {
        position: absolute;
        top: 8%;
        left: 17%;
        transform: translate(-50% -50%);
        width: 770px;
        height: 737px;
        background-color: rgba(0, 0, 0, 0.48);
        padding: 9%;
    }
    
.login_boton {
    width: 156px;
    height: 40px;
    border: 1px solid;
    background-color: black;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    position: relative;
    left: 166px;
}

}

















@include tablet{
    body{
        background-size: 770px 895px;
    }
    .center {
        position: absolute;
        top: 12%;
        left: 27%;
        width: 568px;
        height: 581px;
        background-color: rgb(0 0 0 / 47%);
        padding: 6%;
        left: 97px;
    }
    .center h1{
        top: 67px;
        font-size: 35px;
        border: none;
        left: 156px;
    
}
.txt_field label{
    color: #efeff0;
}
form{
    padding: 0 0px;
    box-sizing: border-box;
    left: 160px;
    position: absolute;
    bottom: 128px;
}
form .txt_field {
    position: relative;
    border-bottom: 2px solid #e6e6e6;
    margin: 8px 4px;
    width: 233px;
}
    .boton {
        width: 115px;
        height: 28px;
        border: 1px solid;
        background-color: black;
        border-radius: 25px;
        font-size: 15px;
        color: #e9f4fb;
        font-weight: 700;
        cursor: pointer;
        outline: none;
        position: relative;
        left: 50px;
}
a {
    text-decoration: none;
    color: white;
    position: absolute;
    right: 74px;
}
.travel img {
    position: relative;
    width: 96px;
    left: 88px;
    bottom: 31px;
}
}
/*log in*/
.box {
    position: absolute;
    top: 8%;
    left: 17%;
    transform: translate(-50% -50%);
    width: 493px;
    height: 737px;
    background-color: rgba(0, 0, 0, 0.48);
    padding: 9%;
}
.log .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 31px 0;
    bottom: 143px;
}
.log .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
    bottom: 144px;
    left: 60px;
}
}