
/*input{
    @include pruve;
}*/

.center{
    position: absolute;
    top: 7%;
    left: 40%;
    transform: translate(-50% -50%);
    width: 770px;
    height: 737px;
    background-color: rgba(0, 0, 0, 0.47);
    padding: 9%;
    
}
.travel{
    img{
        position: relative;
        width: 102px;
        left: 158px;
        bottom: 90px;
    }
}
.center{
    h1{
        page-break-after: left;
        text-align: center;
        padding: 0 0 20px;
        border-bottom: 1px solid silver;
        position: absolute;
        left: 267px;
        top: 209px;
        
    }
    }
    form{
        padding: 0 40px;
        box-sizing: border-box;
        
    }


form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5%;
    color: #adadad;
    transform:  translateY(50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
content: '';
position: absolute;
top: 40px;
left: 0;
width: 100%;
height: 2px;
}
.txt_field input:focus~ label,
.txt_field input:valid~ label{
    top: -5px;

}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::after{
    width: 100%;
}
.pass{
    color: #a6a6a6;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 85px;
    text-decoration: none;
}
.pass:hover{
    text-decoration: underline;
}
.boton{
    width: 156px;
    height: 40px;
    border: 1px solid;
    background-color: black;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    position: relative;
    left: 116px;
}
.boton {
    border-color: gray;
    transition: .5s;
}
.singup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666;

}
.singup_link a{
    color: aqua;
    text-decoration: none;
}
.singup_link a:hover{
    text-decoration: underline;
}