.button-basic {
    text-decoration: none;
    border: 2px solid gray;
    border-radius: 0 15px 0 0;
    padding: 5px 40px 5px 40px;
    font-weight: bolder;
    font-size: 35px;
    color: gray;
    background-color: rgba(197, 223, 223, 0.5);
}